/* index.css or App.css */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.rotate-90 {
  transform: rotate(90deg);
}

.w-18 {
  width: 18%;
}

.w-45 {
  width: 45%;
}

.min-h-100 {
  min-height: 100vh;
}

.text-blue-1 {
  color: #011f4b;
}

.border-blue-1 {
  border-color: #011f4b;
}



.bg-grad-2 {
  background-image: linear-gradient(to bottom right, #03396C 30%, #6497b1 90%);
}

.bg-grad-3 {
  background-image: linear-gradient(to right, #fbac1b 25%, #f58020 80%);
}

.transition-colors {
  transition: background-color 0.3s ease;
}

.bg-grad-1 {
  background-image: linear-gradient(to right, #011f4b 30%, #6497B1 100%);
  transition: background-image 0.6s ease;
}

.hover-grad-1:hover {
  opacity: .8;
  background-image: linear-gradient(to right, #6497B1 0%, #011f4b 60%);
  cursor: pointer;
}

.bg-grad-3:hover {
    opacity: .8;
    background-image: linear-gradient(to right, #f58020 25%, #fbac1b 80%);
  cursor: pointer;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-container {
  padding-bottom: 5rem;
}

.card-box {
  transform: translateY(40%);
}

.maskot {
  width: 10rem;
}

.border-blue {
  border: .1rem solid #03396C;
}

.active {
  font-weight: bolder;
}

.fs-btn {
  font-size: 1rem;
}

.fs-tbl {
  font-size: 1rem;
}

.status-column {
  min-width: 7rem;
}

.table-container{
  overflow-x: scroll;
}

.table-submission-container{
  min-width: 75%;
}


/* Tab  */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    padding-bottom: 2rem;
  }

  .fs-btn {
    font-size: .8rem;
  }

  .maskot {
    width: 8rem;
  }

  .fs-tbl {
    font-size: 0.8rem;
  }

  .status-column {
    min-width: 8rem;
  }
  
  .table-submission-container{
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .card-container {
    padding-bottom: 10rem;
  }

  .maskot {
    width: 7rem;
  }

  .fs-btn {
    font-size: .7rem;
  }

  .fs-tbl {
    font-size: 0.7rem;
  }

  .card-box {
    transform: translateY(20%);
  }
}